/*  your css code here. If applicable */
#grid{
	display:grid;
	grid-template-columns:242.5px;
	grid-template-rows:124px;
    gap:10px;
    background:#fff;
}

.item{
	background-color:green;
	padding:5px;
	color:white;
	font-size:25px;
}
.item1{
	grid-column:span 4/auto
}
.item2{
	grid-row:2/6
}
.item3{
	grid-column:2/3
grid-row:2
}
.item4{
	grid-column:3/5
grid-row:2/4
}
.item5{
	grid-column:2/4
}
.item6{
	grid-column:4/5
}
.item7{
	grid-column:2/3
}
.item8{
	grid-column:3/4
}
.item9{
	grid-column:4/5
}
.item10{
	grid-column:span 4
}
.item8{
grid-column:3/4
}
.item9{
grid-column:4/5
}